body{
    background:#f1f1f1;
}
.header{
    height:10vh
}

.header h1{
    text-align: center;
    line-height:10vh;
    margin:0;
    color:#27c3ff;
}

.content{
    padding:0 1vw;
    height:90vh;
}

.search{
    height:5vh;
}

.search input{
    height:70%;
    border-radius:5px;
    border:1px solid #ccc;
    padding:0 10px;
}

.search button{
    width:70px;
    height:75%;
}

.showList{
    margin:0 auto;
    height:77vh;
    background:#fff;
    border-radius:5px;
    padding-left:0;
    overflow: auto;
}

.showList li{
    overflow: hidden;
    list-style: none;
    padding-bottom:10px;
    border-bottom:1px solid #f1f1f1;
}

.goodsInfo{
    width:80%;
    float:left;
    padding-left:10px;
    box-sizing: border-box;
}

.goodsPrice{
    color:#f10214;
    font-size:1.2em;
    margin:0;
}

.goodsName{
    font-size:1.3em;
    font-weight:600;
    margin:10px 0;
}

.goodsOption{
    width:20%;
    float:left;
}

.showPage{
    float:right;
    height:5vh;
    margin-top:20px;
}

.pageButton{
    margin:0;
    padding:0;
    float:left;
}

.pageButton li,.pageBtn{
    float:left;
    list-style: none;
    width:40px;
    height:40px;
    background:#fff;
    margin-right:5px;
    text-align: center;
    line-height:40px;
    color: #27c3ff;
    border-radius:5px;
    cursor:pointer;
    font-size:1.2em;
}

#choose,.pageButton li:hover,.pageBtn:hover{
    background:#27c3ff;
    color:#fff;
}

.editBtn{
    border:1px solid #cccccc;
    border-radius:5px;
    margin-left:10px;
    background: #27c3ff;
    color:#fff;
}

.goodsOption button{
    width:45%;
    height:4vh;
    margin:10px auto 5px;
    display: block;
}

.goodsOption p{
    font-size:0.9em;
    color: #bdbdbd;
    text-align: center;
    margin:0;
}

.pageSelect{
    width:120px;
    overflow: hidden;
}

.pageSelect select{
    border:0;
    outline: 0;
    width:100%;
    height:100%;
    padding:0 10px;
    color:#27c3ff;
    font-size:.9em;
}

.pageSelect select:hover{
    background: #27c3ff;
    color:#fff;
}

.ban{
    color:#bdbdbd;
    background:#ddd;
}

.ban:hover{
    color:#bdbdbd;
    background:#ddd;
}

.endData{
    color:#bdbdbd;
    text-align: center;
    font-size:0.7em;
    padding:20px 0;
    margin:0;
}

.showModal{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,0.3);
}

.showBack{
    width:50vw;
    height:40vh;
    margin:0 auto;
    background:#fff;
    position: relative;
    top:30%;
    border-radius:5px;
    padding:10px;
}

.delBtn{
    background:#f10214;
}

.showOption{
    margin:10px 10px 0 0;
    float:right;
}

.showOption button{
    padding:0 15px;
    height:35px;
}

.showInput{
    border-top:1px solid #ddd;
    height:28vh;
    border-bottom:1px solid #ddd;
    padding-top:20px;
}

.showInput>label,#getNum{
    display:block;
    width:100%;
    margin-bottom:20px;
    margin-left:20px;
}

.showInput>label>input{
    width:70%;
    height:35px;
    padding:0 10px;
    border:1px solid #ccc;
}

.showInput>label>span,#getNum span{
    width:20%;
    margin-right:20px;
}

.modalTitle{
    font-size:1.2em;
    font-weight:600;
    margin:10px;
}

#getNum input{
    width:50px;
    height:30px;
    text-align: center;
    border:0;
    border-top:1px solid #dedede;
    border-bottom:1px solid #dedede;
}

#getNum button{
    height:34px;
    width:35px;
    background:#27c3ff;
    color:#fff;
    border:0;
    border-top:1px solid #dedede;
    border-bottom:1px solid #dedede;
}

#getNum button:nth-child(2){
    border-radius: 5px 0 0 5px;
    border-left:1px solid #dedede;
}

#getNum button:last-child{
    border-radius: 0 5px 5px 0;
    border-right:1px solid #dedede;
}

input[readOnly]{
    background: #f3f2f2;
}
